<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7728.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientId="LinoClient" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" clientName="LinoClient">
					<clientSecrets>
						<add clientSecret="linosecret" />
					</clientSecrets>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="*" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
			<scopes>
				<add displayName="offline_access" scopeType="Resource" name="offline_access" />
			</scopes>
		</identityServerSettings>
	</securityTokenServiceSettings>
	<oauthServer>
		<authorizedClients>
			<add secret="secret" clientId="postman" />
		</authorizedClients>
	</oauthServer>
</authenticationConfig>