<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7728.0" accessControlAllowOrigin="*" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="D99F659C05E549CD77C39B5D6C7197B022CF3F955E8C752D39F953C20F285B7E5FE43469F339E5517A744D268532C9DD27938CFB10F5A473CFEF4283F0F1C767" decryptionKey="FEF958869AB1E4F64D9D6D336E6D5B54DA7587A9B6308EEB056141922229F67F" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="146E630B185E67E8BB7F33FF8BFAD3B93309BA485DC8AF0DBB84F3CAB9721D1E" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="146E630B185E67E8BB7F33FF8BFAD3B93309BA485DC8AF0DBB84F3CAB9721D1E" realm="http://localhost" />
	</relyingParties>
	<membershipProviders>
		<add title="Lino Membership Provider" type="SFAdvDev2022.Providers.CustomMembershipProvider" name="LinoMembershipProvider" />
	</membershipProviders>
</securityConfig>