<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7728.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add autogenerateTypes="False" urlName="default" config:flags="1">
					<types>
						<add urlName="sites" clrType="Telerik.Sitefinity.Multisite.Model.Site" />
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="Provider" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="IncludeInSitemap" />
								<remove Name="ItemDefaultUrl" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Content" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
							</propertyMappings>
						</add>
						<add urlName="blogs" clrType="Telerik.Sitefinity.Blogs.Model.Blog" />
						<add urlName="blogposts" clrType="Telerik.Sitefinity.Blogs.Model.BlogPost" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="calendars" clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<add urlName="events" clrType="Telerik.Sitefinity.Events.Model.Event" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="documentlibraries" clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<add urlName="documents" clrType="Telerik.Sitefinity.Libraries.Model.Document" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="videolibraries" clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<add urlName="videos" clrType="Telerik.Sitefinity.Libraries.Model.Video" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add LifecycleStatus="Master" urlName="form-drafts" clrType="Telerik.Sitefinity.Forms.Model.FormDraft" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="forms" clrType="Telerik.Sitefinity.Forms.Model.FormDescription" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="lists" clrType="Telerik.Sitefinity.Lists.Model.List" />
						<add urlName="listitems" clrType="Telerik.Sitefinity.Lists.Model.ListItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="contentitems" clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="servicehooks" pageSize="10000" clrType="Telerik.Sitefinity.ServiceHooks.Model.ServiceHook" />
						<add urlName="taxonomies" clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<add urlName="flat-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<add urlName="hierarchy-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<add urlName="folders" clrType="Telerik.Sitefinity.Model.Folder" />
						<add urlName="templates" clrType="Telerik.Sitefinity.Pages.Model.PageTemplate" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add AllowFilter="False" Name="LastModified" config:flags="1" />
								<add AllowFilter="False" Name="Title" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Framework" config:flags="1" />
							</propertyMappings>
						</add>
						<add urlName="pages" clrType="Telerik.Sitefinity.Pages.Model.PageNode" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>