<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7728.0">
	<providers>
		<add title="Lino News Provider" type="SFAdvDev2022.Providers.CustomNewsProvider" name="LinoNewsProvider" />
	</providers>
</newsConfig>